# Copy this file to .env and fill in your values
# NEVER commit .env to GitHub

# MongoDB connection string
MONGO_URI=mongodb://localhost:27017/

# FastAPI URL (used by Streamlit dashboard)
API_URL=http://localhost:8000

# MLflow tracking server (optional)
MLFLOW_TRACKING_URI=http://localhost:5000

# Environment (development / production)
ENV=development


#Dagshub credentials
DAGSHUB_REPO_OWNER= YOUR_USERNAME
DAGSHUB_REPO_NAME=YOUR_REPO_NAME
DAGSHUB_TOKEN=YOUR_DAGSHUB_TOKEN

#MLflow tracking server
MLFLOW_TRACKING_URI=YOUR_TRACKING_URI
MLFLOW_TRACKING_USERNAME=YOUR_MLFLOW_USENAME
MLFLOW_TRACKING_PASSWORD=YOUR_TRACKING_PASSWORD(or TOKEN)
EXPERIMENT_NAME = Credit Risk Scoring